.header{
  background-color: darkblue;
  color: white;
  padding: 25px 10px;
  text-align: centre;
}

.header h1{
  margin: 0;
  font-size: 28px;
  letter-spacing: 1px;
}

.header p{
  margin-top: 8px;
  font-size: 14px;
  opacity: 0.9;
}